<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= post.user.name %>
  </p>
  <%post.images.each do |im|%>
  <div class="d-flex justify-content-center">
  <div style class="col-3">
  <%= image_tag im, style:"height:600px;"%>
   <%= link_to "Show this post", post %>
  </div>
  </div>
  <%end%>
  <br>
  <br>

